frontend/.output
frontend/.data
frontend/.nuxt
frontend/.nitro
frontend/.cache
frontend/dist
frontend/node_modules
frontend/logs
frontend/*.log
frontend/.DS_Store
frontend/.fleet
frontend/.idea
frontend/.env
frontend/.env.*
!frontend/.env.example

backend/node_modules
backend/build
backend/tmp
backend/.env
backend/.env.local
backend/.env.production.local
backend/.env.development.local
backend/public/assets
backend/npm-debug.log
backend/yarn-error.log
backend/.fleet
backend/.idea
backend/.vscode
backend/.DS_Store

scraper/node_modules
scraper/logs
scraper/*.log
scraper/npm-debug.log*
scraper/yarn-debug.log*
scraper/yarn-error.log*
scraper/lerna-debug.log*
scraper/.pnpm-debug.log*
scraper/report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
scraper/pids
scraper/*.pid
scraper/*.seed
scraper/*.pid.lock
scraper/lib-cov
scraper/coverage
scraper/*.lcov
scraper/.nyc_output
scraper/.grunt
scraper/bower_components
scraper/.lock-wscript
scraper/build/Release
scraper/node_modules/
scraper/jspm_packages/
scraper/web_modules/
scraper/*.tsbuildinfo
scraper/.npm
scraper/.eslintcache
scraper/.stylelintcache
scraper/.rpt2_cache/
scraper/.rts2_cache_cjs/
scraper/.rts2_cache_es/
scraper/.rts2_cache_umd/
scraper/.node_repl_history
scraper/*.tgz
scraper/.yarn-integrity
scraper/.env
scraper/.env.development.local
scraper/.env.test.local
scraper/.env.production.local
scraper/.env.local
scraper/.cache
scraper/.parcel-cache
scraper/.next
scraper/out
scraper/.nuxt
scraper/dist
scraper/.cache/
scraper/.vuepress/dist
scraper/.temp
scraper/.cache
scraper/.docusaurus
scraper/.serverless/
scraper/.fusebox/
scraper/.dynamodb/
scraper/.tern-port
scraper/.vscode-test
scraper/.yarn/cache
scraper/.yarn/unplugged
scraper/.yarn/build-state.yml
scraper/.yarn/install-state.gz
scraper/.pnp.*
