frontend/.output
frontend/.data
frontend/.nuxt
frontend/.nitro
frontend/.cache
frontend/dist
frontend/node_modules
frontend/logs
frontend/*.log
frontend/.DS_Store
frontend/.fleet
frontend/.idea
frontend/.env
frontend/.env.*
!frontend/.env.example

backend/node_modules
backend/build
backend/tmp
backend/.env
backend/.env.local
backend/.env.production.local
backend/.env.development.local
backend/public/assets
backend/npm-debug.log
backend/yarn-error.log
backend/.fleet
backend/.idea
backend/.vscode
backend/.DS_Store

backend-scraper/node_modules
backend-scraper/logs
backend-scraper/*.log
backend-scraper/npm-debug.log*
backend-scraper/yarn-debug.log*
backend-scraper/yarn-error.log*
backend-scraper/lerna-debug.log*
backend-scraper/.pnpm-debug.log*
backend-scraper/report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
backend-scraper/pids
backend-scraper/*.pid
backend-scraper/*.seed
backend-scraper/*.pid.lock
backend-scraper/lib-cov
backend-scraper/coverage
backend-scraper/*.lcov
backend-scraper/.nyc_output
backend-scraper/.grunt
backend-scraper/bower_components
backend-scraper/.lock-wscript
backend-scraper/build/Release
backend-scraper/node_modules/
backend-scraper/jspm_packages/
backend-scraper/web_modules/
backend-scraper/*.tsbuildinfo
backend-scraper/.npm
backend-scraper/.eslintcache
backend-scraper/.stylelintcache
backend-scraper/.rpt2_cache/
backend-scraper/.rts2_cache_cjs/
backend-scraper/.rts2_cache_es/
backend-scraper/.rts2_cache_umd/
backend-scraper/.node_repl_history
backend-scraper/*.tgz
backend-scraper/.yarn-integrity
backend-scraper/.env
backend-scraper/.env.development.local
backend-scraper/.env.test.local
backend-scraper/.env.production.local
backend-scraper/.env.local
backend-scraper/.cache
backend-scraper/.parcel-cache
backend-scraper/.next
backend-scraper/out
backend-scraper/.nuxt
backend-scraper/dist
backend-scraper/.cache/
backend-scraper/.vuepress/dist
backend-scraper/.temp
backend-scraper/.cache
backend-scraper/.docusaurus
backend-scraper/.serverless/
backend-scraper/.fusebox/
backend-scraper/.dynamodb/
backend-scraper/.tern-port
backend-scraper/.vscode-test
backend-scraper/.yarn/cache
backend-scraper/.yarn/unplugged
backend-scraper/.yarn/build-state.yml
backend-scraper/.yarn/install-state.gz
backend-scraper/.pnp.*
