frontend/.output
frontend/.data
frontend/.nuxt
frontend/.nitro
frontend/.cache
frontend/dist
frontend/node_modules
frontend/logs
frontend/*.log
frontend/.DS_Store
frontend/.fleet
frontend/.idea
frontend/.env
frontend/.env.*
!frontend/.env.example

backend/node_modules
backend/build
backend/tmp
backend/.env
backend/.env.local
backend/.env.production.local
backend/.env.development.local
backend/public/assets
backend/npm-debug.log
backend/yarn-error.log
backend/.fleet
backend/.idea
backend/.vscode
backend/.DS_Store

scraper-backend/node_modules
scraper-backend/logs
scraper-backend/*.log
scraper-backend/npm-debug.log*
scraper-backend/yarn-debug.log*
scraper-backend/yarn-error.log*
scraper-backend/lerna-debug.log*
scraper-backend/.pnpm-debug.log*
scraper-backend/report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
scraper-backend/pids
scraper-backend/*.pid
scraper-backend/*.seed
scraper-backend/*.pid.lock
scraper-backend/lib-cov
scraper-backend/coverage
scraper-backend/*.lcov
scraper-backend/.nyc_output
scraper-backend/.grunt
scraper-backend/bower_components
scraper-backend/.lock-wscript
scraper-backend/build/Release
scraper-backend/node_modules/
scraper-backend/jspm_packages/
scraper-backend/web_modules/
scraper-backend/*.tsbuildinfo
scraper-backend/.npm
scraper-backend/.eslintcache
scraper-backend/.stylelintcache
scraper-backend/.rpt2_cache/
scraper-backend/.rts2_cache_cjs/
scraper-backend/.rts2_cache_es/
scraper-backend/.rts2_cache_umd/
scraper-backend/.node_repl_history
scraper-backend/*.tgz
scraper-backend/.yarn-integrity
scraper-backend/.env
scraper-backend/.env.development.local
scraper-backend/.env.test.local
scraper-backend/.env.production.local
scraper-backend/.env.local
scraper-backend/.cache
scraper-backend/.parcel-cache
scraper-backend/.next
scraper-backend/out
scraper-backend/.nuxt
scraper-backend/dist
scraper-backend/.cache/
scraper-backend/.vuepress/dist
scraper-backend/.temp
scraper-backend/.cache
scraper-backend/.docusaurus
scraper-backend/.serverless/
scraper-backend/.fusebox/
scraper-backend/.dynamodb/
scraper-backend/.tern-port
scraper-backend/.vscode-test
scraper-backend/.yarn/cache
scraper-backend/.yarn/unplugged
scraper-backend/.yarn/build-state.yml
scraper-backend/.yarn/install-state.gz
scraper-backend/.pnp.*

node_modules
